bitsandbytes==0.47.0
datasets==4.1.1
fastapi[standard]==0.118.0
huggingface-hub==0.35.3
orjson==3.11.3
mlflow==3.6.0
pandas==2.3.2
peft==0.17.1
# pydantic==2.11.9
# sentencepiece==0.2.1
# transformers==4.56.2
trl==0.23.0
# uvicorn==0.37.0
# vllm==0.10.2